<link rel="stylesheet" href="{{ '/assets/css/main2.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<div class="shutdown-banner">
   <p>Because of a lapse in government funding, the information on this website may not be up to date, transactions submitted via the website may not be processed, and the agency may not be able to respond to inquiries until appropriations are enacted.
   <br>The NIH Clinical Center (the research hospital of NIH) is open. For more details about its operating status, please visit <a href="https://cc.nih.gov">https://cc.nih.gov.</a>
   <br>Updates regarding government operating status and resumption of normal operations can be found at <a href="https://opm.gov">https://opm.gov</a>.</p>

   <p>Ante la falta de fondos del gobierno federal, no se actualizará este sitio web y la organización no responderá a transacciones ni consultas hasta que se aprueben los fondos.
   <br> El Centro Clínico de los Institutos Nacionales de la Salud  (el hospital de investigación) permanecerá abierto. Consulte <a href="https://cc.nih.gov">https://cc.nih.gov</a>(en inglés)
   <br> Infórmese sobre el funcionamiento del gobierno federal y el reinicio de las actividades en <a href="https://opm.gov">https://opm.gov</a>.</p>
   </div>