.member_profile table {
  width: 100%; /* make it take up the whole container */
  border-spacing: 50px; /*add space between columns*/
}

.member-photo-cell {
  width: 40%; 
  vertical-align: top; 
  horizontal-align: center;
}

.member-bio-cell {
  width: 60%; 
  vertical-align: top; 
  horizontal-align: left;
}

.member-photo {
  border-radius: 50%;
  width: 100%;
  max-width: 400px;
  height: 150px;
  object-fit: cover;
}

.members-list {
  display: flex;
  flex-wrap: wrap;
}

.member-item {
  flex: 1 1 calc(33.333% - 20px);
  text-align: center;
}
