.full-page-content {
  width:100%;
  padding: 30px;
}

.content-list {
  height:fit-content;
  display: flex;
  flex-direction:row;
  margin-bottom: 20px;
  gap: 30px 10px;
}

.member-profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
  }

.member-photo-cell {
  width:30%;
  max-width: 400px; 
 }

.member-bio-cell {
  width:70%;
  }

.member-photo {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
}

.members-list {
  width:100%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin-bottom:20px;
}

.member-list-photo {
  width:10%;
  margin: 10px;
  text-align: center;
  gap:50px;
  min-width: 100px;
}

.member-item {
  width:20%;
  text-align: center;
  gap:50px;
}

.small-photo {
  height:100%;
  max-height: 100px;
}

.project-title {
  width:33%;
  text-align: left;
  margin-right: 20px;
}

.project-summary {
  width:67%;
  text-align: left;
}

.presentation-item{
  width:20%;
}

.three-col-table{
  display: flex;
  flex-direction:row;
  gap: 30px 20px;
  padding-bottom: 15px;
}

.three-col-table-left{ 
  width: 25%;
}

.three-col-table-center{ 
  width: 50%;
}

.three-col-table-right{
  width:25%;
}

.four-col-table-center1{ 
  width: 40%;
}

.four-col-table-center2{
  width:20%;
}

.four-col-table-right{ 
  width:15%; 

}

.presentation-title{
  flex:2;
}

.publication-authors{
  width:50%;
}

.publication-title{ 
  width:25%;
  margin-right:20px;
}

.publication-journal{ 
  width:25%;
  margin-left:10px;
}

.conference-name{ 
  width:75%; 
  margin-right:50px;
}

.conference-location{
  width:25%;
}

.related-groups{
display:flex;
flex-direction:row;
align-items: center;
}

.related-group-item{
  flex:1;
  gap:30px;
  text-align: center;
}

.related-group-image{
  width:10%;
  min-width:100px;
  height: auto;

}

.front-page-logo{
  width:17%;
  min-width:100px;
  height: auto;

}