---
layout: single
class: wide
---
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<div class="full-page-content">
<div>
  <h2>{{page.name}}</h2>
  <b>Location: </b>{{page.location}}</div>
<h2>Presentations: </h2>

{% for presentation in site.presentations %}
{%if presentation.conference_id == page.conference_id %}

<div class="three-col-table">
    <div class="three-col-table-left"><b>Presented on:</b><br>{{presentation.date | date: "%B %Y"}} </div>
    <div class="three-col-table-center"><b>Title:</b><br><a href="{{presentation.url}}">{{presentation.title}}</a></div>
    <div class="three-col-table-right"><b>File:</b><br><a href="{{presentation.file}}">{{presentation.file_name}}</a></div>
</div>

{% endif %}
{% endfor %}
</div>
