---
layout: single
classes: wide
---
<link rel="stylesheet" href="{{ '/assets/css/main2.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<div class="page-wrap">

<div>

<h2 style="font-size:1.5em"><img src="/assets/icons/SFIM_logo.png" class="front-page-logo">Section on Functional Imaging Methods</h2>

<p>The Section on Functional Imaging Methods is within the Laboratory of Brain and Cognition and the National Institute of Mental Health.
Functional MRI is a technique that utilizes time series collection of rapidly-obtained magnetic resonance images that are sensitive to localized brain activation induced hemodynamic changes. 
The utility of Functional MRI (fMRI) has been increasing since it was discovered in 1991. 
The limits of the technique (spatial and temporal resolution, interpretability of the signal, and applications) are determined by imaging technology, experimental and processing methodology, 
and the variable and incompletely-determined relationship between neuronal activity and hemodynamic changes.</p>

<p>The work of SFIM is focused on pushing spatial and temporal resolution of fMRI as well as increasing its interpretability and ultimately the utility. This work roughly falls into four pillars: </p>

</div>

<div>
    
    <div class="outer-pillar">
        <div class="pillar-div">
           <div class="pillar-title">Paradigm Design and Processing Methodology</div>
           <ul>
            <li>Separate noise from signal</li>
            <li>Allow precise comparisons across sessions, subjects, populations and scanners</li>
            <li>Identify similarities and differences in subjects</li>
           </ul>
    
    
        </div>
        <div class="pillar-div">
            <div class='pillar-title'>Basic Research and Clinical Applications</div>
            <ul>
                <li>Biomarker development</li>
                <li>Targets for neuromodulation</li>
                <li>Presurgical mapping</li>
                <li>Neurofeedback platform</li>
                <li>Mechanisms of brain function</li>
            </ul>
    
        </div>
    </div>
    <div class="outer-pillar">
        <div class="pillar-div">
            <div class='pillar-title'>MRI Pulse Sequences and Hardware</div>
            <ul>
                <li>Speed</li>
                <li>Resolution</li>
                <li>Sensitivity</li>
                <li>Specificity</li>
                <li>Robustness</li>
                <li>Quantitation</li>
                <li>New Contrasts</li>
            </ul>
    
    
        </div>
        <div class="pillar-div">
            <div class='pillar-title'>Interpretation of Contrast Mechanisms and Physiology</div>
            <ul>
                <li>Identify salient temporal and spatial structure</li>
                <li>Relate signal to neuronal activity and metabolism</li>
                <li>Relate to signal non-neuronal physiology</li>
            </ul>
    
        </div>
    </div>
</div>

<br><br>

<div>

To learn more about what we do in SFIM, please check out our featured projects, recent publications, recent news, and more, below. 

</div>

<br><br>

<div class="icon-holder">

    <div class="front-page-icon">
        <a href="https://github.com/nimh-sfim"><img src="/assets/icons/code.png"></a>
        <a href="https://github.com/nimh-sfim" class="btn btn--primary">CODE</a>
    </div>

    <div class="front-page-icon">
        <a href="/all_projects"><img src="/assets/icons/projects.png"></a>
        <a href="/all_projects" class="btn btn--primary">PROJECTS</a>
    </div>

    <div class="front-page-icon">
        <a href="/people"><img src="/assets/icons/members.png"></a>
        <a href="/people" class="btn btn--primary">MEMBERS</a>
    </div>

    <div class="front-page-icon">
        <a href="/publications"><img src="/assets/icons/publications.png"></a>
        <a href="/publications" class="btn btn--primary">PUBLICATIONS</a>
    </div>

    <div class="front-page-icon">
        <a href="/presentations"><img src="/assets/icons/presentations.png"></a>
        <a href="/presentations" class="btn btn--primary">PRESENTATIONS</a>
    </div>

</div>

<div>

<h2>Recent Publications</h2>

{% assign sorted_publications = site.publications | sort:'date' | reverse %}
{% assign recent_publications = sorted_publications | slice: 0,5%}

<div> 
    {%for publication in recent_publications%}
    <div style="padding:10px"> 
        {{publication.authors_string}}. <a href="{{publication.url}}">{{publication.title}}</a>. {{publication.pub_str}}
    </div>

    {%endfor%}

</div>
<div class="center-button">
    <a href="/publications" class="btn btn--primary">View all</a>

</div>

<h2>Recent SFIM News</h2>

{% assign sorted_news = site.posts | sort:'date' | reverse %}
{% assign recent_news = sorted_news | slice: 0,5%}

<div>
<ul>
    {% for post in recent_news %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="center-button">
    <a href="/posts" class="btn btn--primary">View all</a>

</div>

<h3>Related NIMH Groups</h3>
<div class="related-groups">
    <div class="related-group-item">
        <div class="related-group-image-div">
            <a href="https://fmrif.nimh.nih.gov/index.php/Main_Page"><img src="/assets/icons/fmrif_png.png" class="related-group-image"></a>
        </div>
        <div class="related-group-link-div">
        <a href="https://fmrif.nimh.nih.gov/index.php/Main_Page">Functional Magnetic Resonance Facility</a>
    </div>
    </div>
    <div class="related-group-item">
        <div class="related-group-image-div">
            <a href="https://cmn.nimh.nih.gov/"><img src="/assets/icons/CMN.png" class="related-group-image"></a>
        </div>
        <div class="related-group-link-div">
            <a href="https://cmn.nimh.nih.gov/">Center for Multimodal Neuroimaging</a>
        </div>
    </div>
    <div class="related-group-item">
        <div class="related-group-image-div">
            <a href="https://cmn.nimh.nih.gov/mlt"><img src="/assets/icons/MLT_cropped.png" class="related-group-image"></a>
        </div>
        <div class="related-group-link-div">
            <a href="https://cmn.nimh.nih.gov/mlt">Machine Learning Team</a>
        </div>
    </div>
    <div class="related-group-item">
        <div class="related-group-image-div">
            <a href="https://cmn.nimh.nih.gov/dsst"><img src="/assets/icons/DSST.png" class="related-group-image"></a>
        </div>
        <div class="related-group-link-div">
            <a href="https://cmn.nimh.nih.gov/dsst">Data Science and Sharing Team</a>
        </div>
    </div>
    <div class="related-group-item">
        <div class="related-group-image-div">
            <a href="https://afni.nimh.nih.gov/"><img src="/assets/icons/afnigui_logo_128sq.jpg" class="related-group-image"></a>
        </div>
        <div class="related-group-link-div">
            <a href="https://afni.nimh.nih.gov/">AFNI</a>
        </div>
    </div>
</div>

</div>
</div>