---
layout: single
classes: wide
---
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<div>

<p>The Section on Functional Imaging Methods is within the Laboratory of Brain and Cognition and the National Institute of Mental Health.
Functional MRI is a technique that utilizes time series collection of rapidly-obtained magnetic resonance images that are sensitive to localized brain activation induced hemodynamic changes. 
The utility of Functional MRI (fMRI) has been increasing since it was discovered in 1991. 
The limits of the technique (spatial and temporal resolution, interpretability of the signal, and applications) are determined by imaging technology, experimental and processing methodology, 
and the variable and incompletely-determined relationship between neuronal activity and hemodynamic changes.</p>

<p>The work of SFIM is focused on pushing spatial and temporal resolution of fMRI as well as increasing its interpretability and ultimately the utility.  This research includes understanding and using resting state fluctuations, understanding and modeling the dynamics of the fMRI signal changes, advancing pattern - effect fMRI or fMRI decoding, and advancing high resolution and high field fMRI. </p>

<p>Please visit our <a href="https://www.github.com/nimh-sfim">GitHub</a> to explore our publicly available code.</p>

</div>

<h3>Related NIMH Groups</h3>
<div class="related-groups">
    <div class="related-group-item">
        <a href="https://fmrif.nimh.nih.gov/index.php/Main_Page"><img src="/assets/images/fmrif_png.png"><br>Functional Magnetic Resonance Facility</a>
    </div>
    <div class="related-group-item">
        <a href="https://cmn.nimh.nih.gov/"><img src="/assets/images/CMN.png"><br>Center for Multimodal Neuroimaging</a>
    </div>
    <div class="related-group-item">
        <a href="https://cmn.nimh.nih.gov/mlt"><img src="/assets/images/CMN.png"><br>Machine Learning Team</a>
    </div>
    <div class="related-group-item">
        <a href="https://cmn.nimh.nih.gov/dsst"><img src="/assets/images/DSST.png"><br>Data Science and Sharing Team</a>
    </div>


</div>