---
layout: single
classes: wide
---
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<div>

<h2 style="font-size:1.5em"><img src="/assets/icons/SFIM_logo.png" class="front-page-logo">Section on Functional Imaging Methods</h2>

<p>The Section on Functional Imaging Methods is within the Laboratory of Brain and Cognition and the National Institute of Mental Health.
Functional MRI is a technique that utilizes time series collection of rapidly-obtained magnetic resonance images that are sensitive to localized brain activation induced hemodynamic changes. 
The utility of Functional MRI (fMRI) has been increasing since it was discovered in 1991. 
The limits of the technique (spatial and temporal resolution, interpretability of the signal, and applications) are determined by imaging technology, experimental and processing methodology, 
and the variable and incompletely-determined relationship between neuronal activity and hemodynamic changes.</p>

<p>The work of SFIM is focused on pushing spatial and temporal resolution of fMRI as well as increasing its interpretability and ultimately the utility.  This research includes understanding and using resting state fluctuations, understanding and modeling the dynamics of the fMRI signal changes, advancing pattern - effect fMRI or fMRI decoding, and advancing high resolution and high field fMRI. </p>


<svg viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
    <!-- Circle 1  -->
    <a xlink:href="link1.html">
      <circle cx="35%" cy="35%" r="20%" fill="red" class="venn-circle"></circle>
      <text class="venn-text">
          <tspan x="25%" y="31%" dy="1.3em">Basic</tspan>
          <tspan x="25%" y="33%" dy="1.3em">Research &</tspan>
          <tspan x="25%" y="35%" dy="1.3em">Clinical</tspan>
          <tspan x="25%" y="37%" dy="1.3em">Applications</tspan>
      </text>
    </a>
    
    <!-- Circle 2 (Top-right) -->
    <a xlink:href="link2.html">
      <circle cx="65%" cy="35%" r="20%" fill="blue" class="venn-circle"></circle>
      <text class="venn-text">
          <tspan x="75%" y="31%" dy="1.3em">Paradigm</tspan>
          <tspan x="75%" y="33%" dy="1.3em">Design &</tspan>
          <tspan x="75%" y="35%" dy="1.3em">Processing</tspan>
          <tspan x="75%" y="37%" dy="1.3em">Methodology</tspan>
      </text>
    </a>
    
    <!-- Circle 3  -->
    <a xlink:href="link3.html">
      <circle cx="50%" cy="20%" r="20%" fill="green" class="venn-circle"></circle>
      <text class="venn-text">
          <tspan x="50%" y="55%" dy="1.3em">MRI Pulse Sequences &</tspan>
          <tspan x="50%" y="57%" dy="1.3em">Hardware</tspan>
      </text>
    </a>
  
    <!-- Circle 4 -->
    <a xlink:href="link4.html">
      <circle cx="50%" cy="50%" r="20%" fill="yellow" class="venn-circle"></circle>
      <text class="venn-text">
          <tspan x="50%" y="8%" dy="1.3em">Interpretations of Contrast</tspan>
          <tspan x="50%" y="10%" dy="1.3em">Mechanisms & Phsyiology</tspan>
      </text>
    </a>
  
    <!-- Center Text -->
    <text x="50%" y="35%" class="venn-center-text" dy=".3em">SFIM</text>
  
  </svg>

</div>

<div class="icon-holder">

    <div class="front-page-icon">
        <a href="https://github.com/nimh-sfim"><img src="/assets/icons/code.png"></a>
        <a href="https://github.com/nimh-sfim" class="btn btn--primary">CODE</a>
    </div>

    <div class="front-page-icon">
        <a href="/featured_projects"><img src="/assets/icons/projects.png"></a>
        <a href="/featured_projects" class="btn btn--primary">PROJECTS</a>
    </div>

    <div class="front-page-icon">
        <a href="/members"><img src="/assets/icons/members.png"></a>
        <a href="/members" class="btn btn--primary">MEMBERS</a>
    </div>

    <div class="front-page-icon">
        <a href="/publications"><img src="/assets/icons/publications.png"></a>
        <a href="/publications" class="btn btn--primary">PUBLICATIONS</a>
    </div>

    <div class="front-page-icon">
        <a href="/presentations"><img src="/assets/icons/presentations.png"></a>
        <a href="/presentations" class="btn btn--primary">PRESENTATIONS</a>
    </div>

</div>

<h2>Recent Publications</h2>

{% assign sorted_publications = site.publications | sort:'date' | reverse %}
{% assign recent_publications = sorted_publications | slice: 0,5%}

<div> 
    {%for publication in recent_publications%}
    <div style="padding:10px"> 
        {{publication.authors_string}}. <a href="{{publication.url}}">{{publication.title}}</a>. {{publication.pub_str}}
    </div>

    {%endfor%}

</div>
<div class="center-button">
    <a href="/publications" class="btn btn--primary">View all</a>

</div>


<h3>Related NIMH Groups</h3>
<div class="related-groups">
    <div class="related-group-item">
        <div class="related-group-image-div">
            <a href="https://fmrif.nimh.nih.gov/index.php/Main_Page"><img src="/assets/icons/fmrif_png.png" class="related-group-image"></a>
        </div>
        <div class="related-group-link-div">
        <a href="https://fmrif.nimh.nih.gov/index.php/Main_Page">Functional Magnetic Resonance Facility</a>
    </div>
    </div>
    <div class="related-group-item">
        <div class="related-group-image-div">
            <a href="https://cmn.nimh.nih.gov/"><img src="/assets/icons/CMN.png" class="related-group-image"></a>
        </div>
        <div class="related-group-link-div">
            <a href="https://cmn.nimh.nih.gov/">Center for Multimodal Neuroimaging</a>
        </div>
    </div>
    <div class="related-group-item">
        <div class="related-group-image-div">
            <a href="https://cmn.nimh.nih.gov/mlt"><img src="/assets/icons/MLT_cropped.png" class="related-group-image"></a>
        </div>
        <div class="related-group-link-div">
            <a href="https://cmn.nimh.nih.gov/mlt">Machine Learning Team</a>
        </div>
    </div>
    <div class="related-group-item">
        <div class="related-group-image-div">
            <a href="https://cmn.nimh.nih.gov/dsst"><img src="/assets/icons/DSST.png" class="related-group-image"></a>
        </div>
        <div class="related-group-link-div">
            <a href="https://cmn.nimh.nih.gov/dsst">Data Science and Sharing Team</a>
        </div>
    </div>
    <div class="related-group-item">
        <div class="related-group-image-div">
            <a href="https://afni.nimh.nih.gov/"><img src="/assets/icons/afnigui_logo_128sq.jpg" class="related-group-image"></a>
        </div>
        <div class="related-group-link-div">
            <a href="https://afni.nimh.nih.gov/">AFNI</a>
        </div>
    </div>


</div>