---
layout: single
class: wide
show_date: false
---
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<div>
    <h2>All Presentations: </h2>

    {% assign all_presentations_by_author = site.presentations | where_exp: "item", "item.presenters contains page.presenter_id" | sort: "date" | reverse %}
    
    {% for presentation in all_presentations_by_author %}

    <div class="three-col-table">
        <div class="three-col-table-left">
          <b>Presented on: </b><br>{{presentation.date | date: "%B %Y"}} 
          </div>
        <div class="four-col-table-center1"><b>Title: </b><br><a href="{{presentation.url}}">{{presentation.title}}</a></div>
        {% assign conference_item = site.conferences | where: "conference_id", presentation.conference_id | first %}
        <div class="four-col-table-center2"><b>Conference/Event:<br></b><a href="{{conference_item.url}}">{{conference_item.title}}</a> </div>
        <div class="four-col-table-right"><b>File: </b><br><a href="{{presentation.file}}">{{presentation.filename}}</a></div>
    </div>

    {% endfor %}


  </div>
