---
layout: single
class: wide
show_date: false
---
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
<div>
    <h2>All Publications: </h2>

    {% assign all_publications_by_author = site.publications | where_exp: "item", "item.author_ids contains page.presenter_id" | sort: "date" | reverse  %}

    {% for publication in all_publications_by_author %}

    <div class="three-col-table">
        <div class="three-col-table-left"><b>Published: </b><br>{{publication.date | date: "%Y"}} </div>
        <div class="four-col-table-center1"><b>Title: </b><br><a href="{{publication.url}}">{{publication.title}}</a></div>
        <div class="four-col-table-center2"><b>Publication: </b><br>
          {% if publication.type == "journal_article" %}
          {{publication.journal}}
          {%elsif publication.type =="book_chapter"%}
          {{publication.book_title}}
          {%endif%}
        </div>
        <div class="four-col-table-right">
          {% if publication.data_loc != "" %}
          <a href="{{publication.data_loc}}">Data<br></a>
          {%endif%}
          {% if publication.code_loc != "" %}
          <a href="{{publication.code_loc}}">Code</a>
          {%endif%}
      </div>
    </div>

    {% endfor %}
  </div>
