---
layout: single
classes: wide
---

<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
{% include shutdown_banner.html %}
<div>
    <div>
        <b>Presented: </b>{{page.date | date: "%B %Y"}} <br>

        {%if page.project_id%}
        <b>Project(s):</b>
        {%for project in page.project_id%}
        {%assign project_item = site.projects | where: "project_id", project | first %} 
        <a href="{{project_item.url}}">{{project_item.title}}</a> &nbsp; &nbsp; &nbsp;
        {%endfor%}
        <br>
        {%endif%}
        {% assign conference_item = site.conferences | where: "conference_id", page.conference_id | first %}
        {%if page.conference_id != "" %}
        <b>Conference/Event: </b><a href="{{conference_item.url}}">{{conference_item.title}}</a> <br>
        {%endif%}
        {%if page.summary%}
        <b>Summary: </b> {{page.summary}} <br>
        {%endif%}
        {%if page.page.video_id != "" %}
        {%include video id=page.video_id provider=page.provider %}
        {%endif%}
        {%if page.recording_link %}
        <a href="{{page.recording_link}}">Recording Link</a><br>
        {%endif%}
        <b>Presenter(s): </b><br>
            <ul>
            {% for presenter_id in page.presenters %}
                {% assign presenter = site.members | where: "presenter_id", presenter_id | first %}
                <li>
                    <a href="{{presenter.url}}">{{ presenter.title }}</a>
                </li>
            {% endfor %}
            </ul>
        <b>File: </b><a href="{{page.file | relative_url}}">{{page.filename}}</a>
    </div>
</div>
