---
layout: default
---
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<div class="project-content"> 
<h1>{{page.title}}</h1>
{{page.summary | markdownify}}

<h2>Presentations: </h2>

{% assign sorted_presentations =  site.presentations | sort: 'date' | reverse %}
{% for presentation in sorted_presentations %}
{%if presentation.project_id == page.project_id %}

<div class="presentation-list">
    <div class="presentation-item"><b>Presented on: </b><br>{{presentation.date | date: "%B %Y"}} </div>
    <div class="presentation-title"><b>Title: </b><br><a href="{{presentation.url}}">{{presentation.title}}</a></div>
    <div class="presentation-item"><b>File: </b><br><a href="{{presentation.file}}">{{presentation.file_name}}</a></div>
</div>

{% endif %}
{% endfor %}

<h2>Publications: </h2>

{% assign sorted_publications =  site.publications | sort: 'date' | reverse %}
{% for publication in sorted_publications %}
{%if publication.project_id == page.project_id %}

<div class="presentation-list">
    <div class="presentation-item"><b>Published: </b><br>{{publication.date | date: "%Y"}} </div>
    <div class="presentation-title"><b>Title: </b><br><a href="{{publication.url}}">{{publication.title}}</a></div>
    <div class="presentation-item"><b>Type: </b><br>
      {%if publication.type == "journal_article"%}
      Journal Article
      {%elsif publication.type == "book_chapter%}
      Book Chapter 
      {%elsif publication.type == "misc"%}
      Miscellaneous
      {%endif%}
    </div>
</div>

{% endif %}
{% endfor %}

</div>
