---
layout: single
class: wide
---
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
<div class="full-page-content"> 
{{page.summary}}

<h2>Publications: </h2>

{% assign sorted_publications =  site.publications | sort: 'date' | reverse %}
{% for publication in sorted_publications %}
{%if publication.project_id == page.project_id %}

<div class="three-col-table">
  <div class="three-col-table-left"><b>Published: </b><br>{{publication.date | date: "%Y"}} </div>
  <div class="four-col-table-center1"><b>Title: </b><br><a href="{{publication.url}}">{{publication.title}}</a></div>
  <div class="four-col-table-center2"><b>Publication: </b><br>
    {% if publication.type == "journal_article" %}
    {{publication.journal}}
    {%elsif publication.type =="book_chapter"%}
    {{publication.book_title}}
    {%endif%}
  </div>
  <div class="four-col-table-right">
    {% if publication.data_loc != "" %}
    <a href="{{publication.data_loc}}">Data<br></a>
    {%endif%}
    {% if publication.code_loc != "" %}
    <a href="{{publication.code_loc}}">Code</a>
    {%endif%}
</div>
</div>

{% endif %}
{% endfor %}

<h2>Presentations: </h2>

{% assign sorted_presentations =  site.presentations | sort: 'date' | reverse %}
{% for presentation in sorted_presentations %}
{%if presentation.project_id == page.project_id %}

<div class="three-col-table">
  <div class="three-col-table-left">
    <b>Presented on: </b><br>{{presentation.date | date: "%B %Y"}} </div>
  <div class="four-col-table-center1"><b>Title: </b><br><a href="{{presentation.url}}">{{presentation.title}}</a></div>
  {% assign conference_item = site.conferences | where: "conference_id", presentation.conference_id | first %}
  <div class="four-col-table-center2"><b>Conference/Event:<br></b><a href="{{conference_item.url}}">{{conference_item.title}}</a> </div>
  <div class="four-col-table-right"><b>File: </b><br><a href="{{presentation.file}}">{{presentation.filename}}</a></div>
</div>

{% endif %}
{% endfor %}

</div>
