---
layout: single
class: wide
---
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<div class="full-page-content">
    <b>Year of Publication: </b>{{page.date | date: "%Y"}} <br>
        <b>Project: </b>
        {% assign project = site.projects | where: "project_id", page.project_id | first %}
        <a href="{{project.url}}">{{project.title}}</a><br>

        <b>FIM Authors: </b><br>
        <ul>
            {% for author_id in page.author_ids %}
                {% assign author = site.members | where: "presenter_id", author_id | first %}
                {% if author%}
                <li>
                    <a href="{{author.url}}">{{ author.title }}</a>
                </li> 
                {%endif%}
            {% endfor %}
            </ul>

        <b>Authors: </b><br>
        <ul>
            {% for author in page.authors %}
                <li>
                    {{author}}
                </li>
            {% endfor %}
            </ul>
        <b>Abstract: </b>{{page.abstract}}<br>

        {% if page.type == "journal_article"%}
        {%if page.data_loc != ""%}
        <a href="{{page.data_loc}}">Data</a><br>
        {%endif%}
        {%if page.code_loc != ""%}
        <a href="{{page.code_loc}}">Code</a><br>
        {%endif%}
        <b>Journal: </b>{{page.journal}}<br>
        {% if page.volume %}
        <b>Volume: </b>{{page.volume}}<br>
        {% endif %}
        <b>URL: </b><a href="{{page.paper_url}}">{{page.paper_url}}</a><br>

        {%elsif page.type=="book_chapter"%}

        <b>Book Title: </b>{{page.book_title}}<br>
        <b>Number of Pages: </b>{{page.pages}}<br>
        <b>Publisher: </b>{{page.publisher}}<br>
        <b>ISBN: </b>{{page.isbn}}<br>

        {%endif %}
        <b>DOI: </b><a href="{{page.doi}}">{{page.doi}}</a><br>



</div>